@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

:root {
    --gradient: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    --gradient1: linear-gradient(135deg, #667eea85 0%, #764ba28c 100%);
    --box-shadow: 2px 2px 5px rgba(0,0,0,.6);
    --width: 100%;
    --radius: 8px;
}

body {
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    background: url(../imagenes/form_back.jpg);
    background-size: cover;
    background-position: center;
    transition: background 0.5s ease, color 0.5s ease;
}

h4 {
    color:#952a99;
}

.form {
    width: 400px;
    background-color: #fff;
    margin: 70px auto;
    text-align: center;
    border-radius: var(--radius);
    padding: 30px 20px 40px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.form__submit {
    display: block;
    width: var(--width);
    font-size: 25px;
    background-image: var(--gradient);
    padding: 15px 30px;
    border: none;
    color: #fff;
    font-weight: 700px;
    cursor: pointer;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background: url(../imagenes/form_back.jpg) !important;
        background-size: cover !important;
        background-position: center;
    }
} */